
<div class="home">
    <p>Hello {{  name }} you can log out here or manage your todos on other tabs</p>
<div class="left"><a href="/logout">LOGOUT</a></div>
  <!--<p>-->
   <!--This is a to do app-->
  <!--</p>-->
</div>

