<html>

<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
	<h1>LOGGGGIIIIN</h1>
	<div class="container">
		<div class="navbar navbar-default">

			<div class="container">

				<div class="navbar-header">

					<a href="href='/'" class="navbar-brand">{{ appname }}</a>


				</div>

			</div>

		</div>
		<div class="alert alert-dismissable"></div>
		<h1>{{ title }}</h1>
		<p> Welcome to Express.js Todo app </p>
		<div class="menu">
			<h2>Menu</h2>
			<ul class="nav nav-pills">
				
				<li class="active">
					<a href="/">Home</a>
					
				</li>
				<li>
					<a href="/tasks">Todo List</a> 
					
				</li>
				<li>
					<a href="/tasks/completed">Completed</a>
					
				</li>
				
			</ul>  
		</div>
		<br>
		{{{body}}}
	</div>



	<script src='/javascripts/jquery.js' type="text/javascript" ></script>
	<script src='/javascripts/main.js' type="text/javascript" ></script>

</body>
</html>
