<html>

<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<!-- {{ session }} -->

	<div class="container">
		


		<div class="alert alert-dismissable"></div>
		<h1>{{ title }}</h1>

		
		<div class="menu">
			<h2>Menu</h2>
			<ul class="nav nav-pills">
				
				<li class="active">
					<a href="/">Home</a>
					
				</li>
				<li>
					<a href="/tasks">Todo List</a> 
					
				</li>
				<li>
					<a href="/tasks/completed">Completed</a>
					
				</li>
				<li>
					<a href="/profil/">Profil</a>
					
				</li>
			</ul>  
		</div>
		
		<br>
		{{{body}}}
	</div>





</body>
</html>
