
<div class="container">
	<div class="col-xs-4 col-xs-offset-4">
		<div class="well">
			<h2>Login</h2>
			<form action="/" method="POST" >
				<div class="form-group">
					<label for="exampleInputEmail1">Username</label>
					<input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<input type='hidden' value="{{ csrfToken }}" name='_csrf'>

				<button type="submit" class="btn btn-default btn-success btn-lg btn-block">Submit</button>
				<a href="/reg">Sign up!</a>
			</form>
		</div>
	</div>
</div>
