
<div class="container">
    <h3>Empty fileds will not be written over</h3>
	<div class="col-xs-4 col-xs-offset-4">
		<div class="well">
			<h2>Profil</h2>

			<form action="/profil" method="POST" >
				<div class="form-group">
					<label for="exampleInputEmail1">Change Username</label>
					<input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Change Password</label>
					<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<input type='hidden' value="{{ csrfToken }}" name='_csrf'>

				<button type="submit" class="btn btn-default btn-success btn-lg btn-block">Modify</button>
			</form>
		</div>
	</div>
</div>
