
<div class="container">
	<h2>Sign UP</h2>
	<div class="col-xs-6 col-xs-offset-3">
		<div class="well">
			<h3>Sign Up!</h3>
			<form action="/reg" method="POST" >
				<div class="form-group">
					<label for="exampleInputEmail1">Username</label>
					<input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<input type='hidden' value="{{ csrfToken }}" name='_csrf'>

				<button type="submit" class="btn btn-default btn-success btn-lg btn-block">Sign Up!</button>
			</form>
		</div>
	</div>
</div>
