
<div class="list">

  <div class="item add-task">



    <div class="col-xs-1">
      <form action='/tasks' method='post'>

        <input type='hidden' value='true', name='all_done'>
        <input type='hidden' value="{{ csrfToken }}" name='_csrf'>

      </form>
    </div>
    <form action="/tasks" method='post'>
      <input type='hidden' value="{{csrfToken }}" name='_csrf'>
      
      <div class="col-xs-3">
        <input type="text" name="task" placeholder='Add a new task'>
      </div>
      <div class="col-xs-3">
        <select type="text" name="assignee" placeholder='Assaigned to'>
          <option value="0" DEFAULT>Choose assaigne</option>
          {{#each users}}
          <option value="{{ this.name }}">{{name}}</option>
          {{/each}}


        </select>
      </div>
      <div class="col-xs-3">
        <input type="date" name="deadline" placeholder='Deadline'>
      </div>
      <div class="col-xs-2">
        <input type="submit" value='add' class="btn btn-primary btn-sm btn-block">
      </div>
      
    </form>
  </div>

  
</div>
<div class="entry">
<div class="col-xs-1">
    </div>
    <div class="col-xs-2">Author</div>
    <div class="col-xs-2">Assignee</div>
    <div class="col-xs-2">Task</div>
    <div class="col-xs-2">Created At</div>
    <div class="col-xs-2">Deadline</div>
    <div class="col-xs-1">
   </div>
 <!--  {{#if tasks.length }}
  <h3> You have {{ tasks.length }} remaining Task!</h3>
  {{else}}
  <h3>No tasks.</h3>
  {{/if}}
 -->  <br>
</div>

{{#each tasks}}

<div class="item">
  <form action='/tasks/{{this._id}}' method='post'>

    <input type='hidden' value="{{ this._id }}" name='id'>
    <input type='hidden' value='true' name='completed'>
    <input type='hidden' value="{{ ../csrfToken }}" name='_csrf'>

    <div class="col-xs-1">
      <input type='submit' class='btn btn-success btn-xs task-done' value='done'>
    </div>
    <div class="col-xs-2">{{author}}</div>
    <div class="col-xs-2">{{assignee}}</div>
    <div class="col-xs-2">{{this.task}}</div>
    <div class="col-xs-2">{{createdat}}</div>
    <div class="col-xs-2">{{deadline}}</div>
    <div class="col-xs-1">
     <a class='btn btn-danger btn-xs task-delete' data-task-id="{{ this._id }}" data-csrf="{{ ../csrfToken }}" href="/tasks/{{ this._id }}">Delete</a>
   </div>
   
 </form>
</div>

{{/each}}


