
<h1>{{title}}</h1>

<div class="list">
	<div class="item">
	<div class="col-xs-3">Task</div>
		<div class="col-xs-3">Completed At</div>
		<div class="col-xs-3">Deadline</div>
	</div>
	{{#each tasks}}
	<div class="item">
		<!-- <div class="num"> -->
		<div class="col-xs-3">{{this.task}}</div>
		<div class="col-xs-3">{{completedtime}}</div>
		<div class="col-xs-3">{{deadline}}</div>
		<div class="col-xs-2">
			<a class='btn btn-danger btn-xs task-delete' data-task-id="{{ this._id }}" data-csrf="{{ ../csrfToken }}" href="/tasks/completed/{{ this._id }}">Delete</a>
		</div>

		<!-- </div> -->
	</div>
	{{/each}}
</div>

