* {
  font-size:20px;
}
.btn {
  // margin-left: 20px;
  // margin-right: 20px;
}
.num {
  // margin-right: 3px;
}
.item {
  height: 44px;
  width: 100%;
  clear: both;
  .name {
    width: 300px;
  }
  .action {
    width: 100px;
  }
  .delete {
    width: 100px
  }
  div {
    float:left;
  }
}
.home {
  margin-top: 40px;
}
.name.completed-task {
  text-decoration: line-through;
}

.add-task {
  height: 70px;
  padding: 10px 0;
  background: #efefef;
  border: 1px #ccc 1px;
  border-radius : 5px;
}